/* This is a smart watch which has time, music and message applications */
.row{
    margin:0 !important;
}

.title{
    position:relative;
    display:block;
    background-color:#0080FF;
    height: 100vh;
    width: 50wh;
    font-size: 3em;
    text-align: center;
    padding-top: 47%;
    font-weight:bold;
}
.smart{
    
    color: black;
   
}
.watch{
    
    color: white;
    
}




.outerbox{
    position: absolute;
    width: 299px;
    height: 332px;
    margin:10em;
    background: #685D5D;
    border-radius: 57px;
}

.innerbox{
    position: absolute;
    width: 259px;
    height: 290px;
    margin:11.3em;
    background: #1E1B1B;
    border-radius: 52px;
}

.upperstrap{
    border-radius:150px 150px 0% 0%;
    margin-top:3.75em;
    margin-left: 13.8em;
    position: absolute;
    border-bottom: 100px solid #1E1B1B;
	border-left: 27px solid transparent;
	border-right: 27px solid transparent;
	height: 0em;
	width: 11em;
}

.lowerstrap{
    border-radius:150px 150px 0% 0%;
    margin-top:30.7em;
    margin-left: 13.9em;
    transform: rotate(179.67deg);
    position: absolute;
    border-bottom: 100px solid #1E1B1B;
	border-left: 27px solid transparent;
	border-right: 27px solid transparent;
	height: 20px;
	width: 11em;
}
#time{
    position: absolute;
    width: 182px;
    height: 61px;
    margin-top:1em;
    margin-left: 11%;
    text-align: centre;
    font-family: arial;
    font-weight: bold;
    font-size: 80px;
    line-height: 75px;
    color: yellow;
}

#day{
    position: absolute;
    width: 46px;
    height: 11px;
    margin-top:3.5em;
    margin-left: 11em;
    text-align: centre;
    font-family: arial;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 14px;
    color:white;
}

#date{
position: absolute;
width: 89px;
height: 30px;
margin-top:3em;
margin-left:3.5em;
font-family: arial;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 29px;
color:white;
}
#messageicon{
    position: absolute;
color:#13EDE0;
font-size: 2.5em;
margin-left:1em;
cursor: pointer;
}
#messageicon:hover{
 color:white;
}
#musicicon{
    position: absolute;
color:#13EDE0;
font-size: 2.5em;
margin-left:3em;
cursor: pointer;

}
#musicicon:hover{
    color:white;

}
#timericon{
    position: absolute;
color:#13EDE0;
font-size: 2.5em;
margin-left:5em;
cursor: pointer;
}
#timericon:hover{
    color:white;


}
#menu{
    position: absolute;
color:white;
font-size: 2em;
margin-top:-1.25em;
margin-left:3.4em;  
}
#menu:hover{
    color:yellow;
}
.circle{
   height: 50px;
width: 50px;
background-color:black;
border-radius: 50%;
margin-top:10.2em;
margin-left:6.05em;
}
#messageMsg{
    position: absolute;
color:#13EDE0;
font-size: 1.5em;
margin-top:10em;
margin-left:.5em;
cursor: pointer;
}
#musicMsc{
    position: absolute;
color:red;
font-size: 1.5em;
margin-top:10em;
margin-left:.5em;
cursor: pointer;
      
}
#timertym{
    position: absolute;
    color:white;
    font-size: 1.5em;
    margin-top:10em;
    margin-left:.5em;
    cursor: pointer;
}
#timeMsg{
       position: absolute;
width: 18px;
height: 15px;
margin-top:1em;
margin-left: 11%;
text-align: centre;
font-family: arial;
font-weight: bold;
font-size: 20px;
line-height: 20px;

color: yellow;
}
/* #minutes{
    type:text;  
	border: none; 
    font-size: 16px; 
	font-weight: bold;
    color: red;
    font size:5px;
} */

/* .notification{
    position: absolute;
font-family: Roboto;
font-weight: bold;
font-size: 1em;
color: #A38484;
margin-top:14em;
margin-left: 2.5em;

} */
/* .notmessage{
    position: absolute;
font-family: Roboto;
font-weight: normal;
font-size: 1em;
color:white;
margin-top:16em;
margin-left: 2.5em;

} */

/* .notbox1{
    position: absolute;
width: 126.61px;
height: 42px;

background: #DDCFCF;
border-radius: 20px;
transform: rotate(-0.54deg);
margin-top:8.5em;
margin-left: 2.5em;
}
.notbox2{
    position: absolute;
width: 125.65px;
height: 37.99px;

background: #DDCFCF;
border-radius: 20px;
transform: rotate(-0.54deg);
margin-top:12.5em;
margin-left: 2.5em;
} */
